@font-face {
    font-family: 'Arsenal';
    src: url('../fonts/Arsenal/Arsenal-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass';
    src: url('../fonts/Overpass/static/Overpass-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Overpass';
    background-color: #010029;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

header {
    margin-top: 50px;
    margin-bottom: 40px;
    z-index: 4;
}

h1 {
    font-family: 'Baskerville Old Face', serif;
    font-size: 70px;
    margin: 0;
}

h2 {
    font-family: 'Arsenal';
    font-size: 30px;
    margin-top: 20px;
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 48px;
    margin-top: 80px;
}

.event-info {
    margin-top: 90px;
    width: 100%;
    text-align: center;
    padding: 0 10px;
}

.event-info p {
    font-size: 30px;
    margin: 0;
}

.description {
    font-size: 20px;
    margin-top: 50px;
    text-align: justify;
    line-height: 1.5;
    padding: 0 30px;
    width: 90%;
}

.registration-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.registration-buttons button {
    padding: 15px 30px;
    font-size: 24px;
    font-weight: 1000;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
}

.general-registration-button {
    background-color: red;
    color: white;
}

.student-registration-button {
    background-color: #1E7EFF;
    color: white;
}

.registration-buttons span {
    display: block;
    font-size: 20px;
    margin-top: 5px;
    text-transform: none;
}

@media (max-width: 768px) {
    .registration-buttons {
        flex-direction: column;
        gap: 10px;
    }
}

.header-title {
    margin-top: 10px;
    text-decoration: none;
    color: inherit;
}

/* CAROUSEL ITEMS */
#carousel-container {
    width: 90%;
    padding: 0 20px;
    z-index: 1;
    overflow: hidden;
    height: 50vmin;
    margin-top: 60px !important;
    margin-bottom: 70px !important;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
    width: auto;
}

.polaroid {
    width: 30vmin;
    height: 40vmin;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.polaroid:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.polaroid a {
    text-decoration: none;
    color: inherit;
}

.polaroid:hover .container p {
    text-decoration: underline;
}

.polaroid img.image {
    width: 100%;
    height: 40vmin;
    object-fit: cover;
    object-position: 100% center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.container {
    text-align: center;
    padding: 10px 0;
}

.container p {
    font-size: 1.3em;
    color: #000000;
}

@media screen and (max-width: 768px) {
    .container p {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 480px) {
    .container p {
        font-size: 1em;
    }
}

/* LOCATION GUIDE */
@keyframes zoom {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.tp-map-img {
    width: 100%;
    height: 100%;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.tp-map-img:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(41, 33, 53, 0.9);
}

.modal-content {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}

.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.4s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.close-modal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close-modal:hover,
.close-modal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.venue-info {
    margin-top: 2rem;
    font-size: 20px;
    text-align: center;
    line-height: 1.8;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .venue-container {
        flex-direction: column;
        align-items: center;
    }

    .venue-image-wrapper,
    .venue-info {
        max-width: 100%;
        text-align: center;
        padding-bottom: 0;
    }
}