/* @font-face {
    font-family: 'Overpass';
    src: url('../fonts/Overpass/static/Overpass-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

.main {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.btn {
    color: #010028;
    padding: 0.8rem;
    font-size: 17px;
    font-family: 'Overpass';
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: bold;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}

.btn:hover {
    color: #4f81ff;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 60px;
    margin-bottom: 80px;
    padding: 5px;
}

.cards_item {
    padding: 1rem;
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}

.card {
    /* background-color: white; */
    border-radius: 15px;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: transparent;
}

.card_content {
    padding: 1rem;
    background: #ffffff;
}

.card_title {
    color: #010028;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_text {
    color: #010028;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}

.card_image img {
    width: 368px;
    height: 230px;
    object-fit: cover;
}