/* Pagination */
.form-control { font-size: 1rem !important; }
td { color: white; }
.paginationproj {
  background-color: #010029;
  padding: 0 20px 70px;
}
th {
  background: #656565;
  color: #fff;
}
.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.pagination li:hover { cursor: pointer; }

/* Minimalistic Button */
.header_wrap {
  padding:30px 0;
}
.num_rows {
  width: 20%;
  float:left;
}
.tb_search {
  width: 20%;
  float:right;
}
.pagination-button li {
  width: 80%;
  padding: 2px 4px;
  background-color: transparent;
  color: white;
  border: 1px solid #ccc;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.4s;
}

.pagination-button:last-child::after {
  content: '';
  display: block;
}
.minimalistic-button {
  padding: 2px 4px;
  font-size: 12px;
  color: white;
  background-color: blue;
  cursor: pointer;
  transition: background-color 0.3s;
}
.minimalistic-button:hover { background-color: darkblue; }
