@font-face {
  font-family: 'Overpass';
  src: url('../fonts/Overpass/static/Overpass-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* General Layout */
.header_wrap {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }
  
  .tb_search {
    flex-grow: 1;
    margin-right: 10px;
    font-family: 'Overpass';
  }
  
  #filter-icon {
    padding: 8px 16px;
    color: white;
    font-family: 'Overpass';
    background-color: blue;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #filter-icon:hover {
    background-color: darkblue;
  }
  
  /* Filter Panel */
  #filter-panel {
    background-color: #010029;
    padding: 20px;
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .filter-section {
    margin-bottom: 15px;
  }
  
  .filter-section h4 {
    margin-bottom: 8px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-control {
    font-size: 1rem !important;
    margin-top: 5px;
  }
  
  .minimalistic-button {
    color: white;
    background-color: blue;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    transition: background-color 0.3s;
  }
  
  .minimalistic-button:hover {
    background-color: darkblue;
  }
  
  /* Table Styling */
  .table-class {
    width: 100%;
    background-color: #010029;
    color: white;
  }
  
  th {
    background: #656565;
    color: #fff;
    font-family: 'Overpass';
    font-weight: bold;
    padding: 10px;
  }
  
  td {
    color: white;
    font-family: 'Overpass';
  }
  
  /* Pagination */
  .pagination-button li {
    padding: 4px 8px;
    background-color: #333;
    color: white;
    font-family: 'Overpass';
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: center;
    margin: 4px 2px;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  
  .pagination-button li:hover {
    background-color: #555;
  }
  