body {
    margin: 0;
    padding: 0;
    font-family: 'Baskerville Old Face', serif;
    background-color: #010029;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;  /* Adjusted to move content upwards */
    height: 100vh;
    text-align: center;
}

header {
    margin-top: 50px;
}

h1 {
    font-size: 70px;
    margin: 0;
}

h2 {
    font-size: 40px;
    margin-top: 20px;
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 48px;
    margin-top: 80px;  /* Added margin to space out from the header */
}

.event-info {
    margin-top: 150px;
    width: 80%;  /* Adjust width to fit content */
    text-align: center;
    padding: 0 10px;  /* Add padding for better text readability */
}

.event-info p {
    font-size: 30px;
    margin: 0;
}

.description {
    font-size: 20px;
    margin-top: 50px;
    text-align: justify;
    line-height: 1.5;  /* Improve readability */
    padding: 0 30px;
}

.registration-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.registration-buttons button {
    padding: 15px 30px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
}

.general-registration-button {
    background-color: red;
    color: white;
}

.student-registration-button {
    background-color: #1E7EFF;
    color: white;
}

.registration-buttons span {
    display: block;
    font-size: 16px;
    margin-top: 5px;
    text-transform: none;
}

@media (max-width: 768px) {
    .registration-buttons {
        flex-direction: column;
        gap: 10px;
    }
}
